@import "tailwindcss";

body {
  background-image: linear-gradient(to bottom right, #eff6ff, #e0e7ff);
  color: #000000;
  font-family: var(--font-poppins), sans-serif; /* textos normales */
}

h1, h2, h3, h4 {
  font-family: var(--font-montserrat), sans-serif; /* títulos */
}
